.pagination {
  .button,
  .disabled {
    background-color: rgb(11, 135, 236);
    color: white;
    border-radius: 50%;
    min-width: 0px;
    height: 35px;
    width: 35px;
    margin-right: 21px;
    &:hover {
      background-color: white;
      color: rgb(11, 135, 236);
      border: 1px solid rgb(11, 135, 236);
    }
  }

  .disabled {
    border: 1px solid #acaaaa;
    background-color: whitesmoke;
    color: #acaaaa;
  }
  .buttonSelected {
    background-color: white;
    color: rgb(11, 135, 236);
    border: 1px solid rgb(11, 135, 236);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    min-width: 0;
    margin-right: 21px;
  }
}

@media only screen and (max-width: 610px) {
  .pagination {
    .button,
    .buttonSelected {
      margin-right: 14px;
    }
  }
}
